{% extends 'english/base-account.html' %}

{% block title %}
Registration
{% endblock %}

{% block method %}
    <form action="register" method="post">
{% endblock %}

{% block section %}
    <li><input type="text" name="first_name" placeholder="Name"></li>
    <li><input type="text" name="username" placeholder="Username"></li>
    <li><input type="text" name="email" placeholder="Email"></li>
    <li><input type="password" name="password1" placeholder="Password"></li>
    <li><input type="password" name="password2" placeholder="Confirm password"></li>
    <li><button type="submit" class="btn_submit" name="Send"><span>Регистрация</span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
    </button></li>
    <li>
        <button type="button" onclick="location.href='{% url 'index' %}'" class="btn_back">
            <span>На главную страницу</span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </button>
    </li>
    <li class="link_width">
        <a class="reset-password-link" href="{% url 'login' %}">Уже есть аккаунт?</a>
    </li>
{% endblock %}
