{% extends 'english/base-account.html' %}

{% block title %}
Change password
{% endblock %}

{% block method %}
    <form action="{% url 'set-new-password' uidb64 token %}" method="post">
{% endblock %}

{% block section %}
    <li><input type="password" name="password" placeholder="Password"></li>
    <li><input type="password" name="password2" placeholder="Confirm password"></li>
    <li><button type="submit" class="btn_submit" name="Send"><span>Применить</span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
    </button></li>
    <li>
        <button type="button" onclick="location.href='{% url 'index' %}'" class="btn_back">
            <span>На главную страницу</span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </button>
    </li>
    <li class="link_width">
        <a class="reset-password-link" id="reset-password-link" href="{% url 'login' %}">Войти в кабинет</a>
        <a class="reset-password-link" href="{% url 'register' %}">Зарегистрироваться</a>
    </li>
{% endblock %}
